extends layout

block stylesheet
  link(rel='stylesheet', href='/css/index.css')
  link(rel='stylesheet', href='/css/modal.css')

block content
  div.content-wrapper
    div.section-live
      div.dark-wrapper
        div.live.pure-g
          div.pure-u-2-3
            iframe(width='100%',height='360',src='//www.youtube.com/embed/m7_2k1XlTTI?autoplay=0',frameborder='0')
          div.pure-u-1-3.live-info
            pre.
              就在不久之前，
              召喚峽谷歷經了歷史上的一次重大變革，
              許多召喚師們彼此較勁的聖地，
              有了一種和以往截然不同的新風貌。

              身為一名召喚師，
              我們享受著彼此競技的感覺，
              但你是否可曾想過，
              在這漫漫人海中，
              誰是最能忍辱負重的上路？
              又是誰是呼風喚雨的中路王者？
              而誰才是最神出鬼沒的Jungler？
              為了決定真正的「Top 1」，
              我們需要一個專屬於電競的舞台 … (待續？)
    div.section-announcement
      div.announcement.pure-g
        div.pure-u-1-2
          h2 重要公告
            span.more
              a.pure-button(href='/announcement') 更多
          table.pure-table.pure-table-horizontal
            thead
              tr
                th 標題
                th(width="30%") 發布日期
            tbody
              each important in announcement_important
                tr
                  td 
                    a(href='#'+important.id role='button' data-toggle='modal')= important.title
                    div.modal.fade(id=important.id, tabindex='-1', role='dialog', aria-hidden='true')
                      div.modal-dialog
                        div.modal-content
                          div.modal-header
                            h1.modal-title= important.title
                          div.modal-body
                            pre!= important.content
                          div.modal-footer
                            button.pure-button(type='button', data-dismiss='modal') 關閉
                  td= important.created.getFullYear() + "/" + (important.created.getMonth()+1) + "/" + important.created.getDate()
        div.pure-u-1-2
          h2 一般公告
            span.more
              a.pure-button(href='/announcement') 更多
          table.pure-table.pure-table-horizontal
            thead
              tr
                th 標題
                th(width="30%") 發布日期
            tbody
              each normal in announcement_normal
                tr
                  td 
                    a(href='#'+normal.id role='button' data-toggle='modal')= normal.title
                    div.modal.fade(id=normal.id, tabindex='-1', role='dialog', aria-hidden='true')
                      div.modal-dialog
                        div.modal-content
                          div.modal-header
                            h1.modal-title= normal.title
                          div.modal-body
                            pre!= normal.content
                          div.modal-footer
                            button.pure-button(type='button', data-dismiss='modal') 關閉
                  td= normal.created.getFullYear() + "/" + (normal.created.getMonth()+1) + "/" + normal.created.getDate()
block javascript
  script(src='/js/modal.js')
