extends layout

block content
  h1= 'Name: ' + team.name
  h1= 'Intro: ' + team.intro
  h1= 'type: '+ team.game
  h1= 'Leader: ' + team.leader.local.name
  h1= 'Member'
  each m in team.member
    h2= m.local.name
